[DEFAULT]
character-set-server = utf8

[client]
port = 3306
socket = /data/mysql_3306/mysql.sock

[mysqld]
port = 3306
socket = /data/mysql_3306/mysql.sock
back_log = 80
basedir = /usr/local/mysql
tmpdir = /tmp
datadir = /data/mysql_3306
default-time-zone = +00:00

